---
title: Home
layout: homepage
---


    <!-- Slider -->
    <!-- First Section -->
<div class="homewrapper">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <!-- replace && with images -->
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <div class="slideshow-container"> 
            <gallery class="slideshow-gallery">
                {% for index in site.posts reversed limit:5 %}
                {% assign counter = counter | plus:1 %}
                    {% if counter == 1 %}

                        <section class="mySlides main">
                            <img onclick ="currentSlide(1)" class="slides" src="{{site.baseurl}}{{index.image}}">
                        </section>

                    {% elsif counter == 2 %}

                        <section  class="mySlides">
                            <img onclick ="currentSlide(2)" class="slides topL" src="{{site.baseurl}}{{index.image}}">
                        </section > 

                    {% elsif counter == 3 %}

                        <section class="mySlides">
                            <img  onclick ="currentSlide(3)" class="slides topR" src="{{site.baseurl}}{{index.image}}">
                        </section>

                    {% elsif counter == 4 %}

                        <section class="mySlides">
                            <img onclick ="currentSlide(4)" class="slides botL" src="{{site.baseurl}}{{index.image}}">
                        </section>

                    {%- elsif counter == 5 %}

                        <section class="mySlides">
                            <img onclick ="currentSlide(5)" class="slides botR" src="{{site.baseurl}}{{index.image}}">
                        </section> 

                    {% endif %}
                {% endfor %}
            </gallery>

            <!-- Dots -->
            <div class= "selectPos">
                {% for index in site.posts limit:i %}
                    {% assign i = i | plus:1 %}
                    <span class="slideSelect" onclick="currentSlide({{i}})"></span> 
                {% endfor %}
            </div>  
        </div>

    <div class="news-container">
        <article>
            <h1>Project - WIZLIZ Web Page</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, omnis?</p>
        </article>
    </div>
</div>

<script>
    //Dom.src Collection
    var imageCollection = [];
    Gallery = document.getElementsByClassName("slides")
    for (x = 0; x < Gallery.length; x++) {
        var images = [];
        images = document.getElementsByClassName("slides")[x].src;
        imageCollection.push(images);
    } 

    
    //These will only be run on startup
    var basePos = 0;
    var lastSlide = 1;
    var slideIndex = 1;
    var nextSlide = 2;
    slideLoop = false;    
    showSlides();
    //Adds or Deducts 1 from slider
    function plusSlides(n) {
        lastSlide = slideIndex;
        nextSlide = nextSlide + 1
        showSlides(slideIndex += n);
        //Put prev slide here  
    }
    //Requires another formula
    //Places slider at 1-5 (0-4)
    function currentSlide(n) {
        lastSlide = slideIndex;
        nextSlide = +1
        if (slideIndex == n) {
            showSlides(slideIndex = 2);
        } else {
            showSlides(slideIndex = n);
        }
    
    }
    
    //Filters sliders
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var imageSlides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("slideSelect");
        // If Slider goes beyond 5 it will reset to first image (1)
        if (n > slides.length) {
            slideIndex = 1
        }    
        // If Slider goes below 1 resets to last image (5)
        if (n < 1) {
            slideIndex = slides.length
        }
        //If slider goes above 5 resets to first index
        if (nextSlide > slides.length) {
            nextSlide = 1
        }
        // Used for old static slider
        for (i = 0; i < slides.length; i++) { 
            slides[i].style.display = "block";  
        }
        
        //Removes Active from all Dots
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        
        //Puts current slide display as a block
        slides[slideIndex-1].style.display = "block"; 
        //Puts current dot as active
        dots[slideIndex-1].className += " active";
        //Holy grail
        for (var i = 0; i < slides.length; i++) {
            imageSlides[i].src = imageCollection[i]
        }





        //IMG Rotater
        console.log("PastSlide : ", lastSlide, " CurrentSlide : ", slideIndex, " NextSlide : ", nextSlide);

        //Position to assign
        var baseImage = imageSlides[basePos].src; // Always points to Big picture
        var pastImage = imageSlides[lastSlide-1].src; //Points to picture prior to index
        var currentImage = imageSlides[slideIndex-1].src; //Points to currentIndex
        var futureImage = imageSlides[nextSlide-1].src; //Points to currentIndex
        // console.log("Base Image : ", baseImage)
        // console.log("PastImage : ", pastImage)
        // console.log("CurrentImage : ", currentImage)
        // console.log("FutureImage : ", futureImage)


        
        //Fix so each image gets reset to its original place and new one is placed
        document.getElementsByClassName("slides")[slideIndex-1].src = baseImage;
        document.getElementsByClassName("slides")[basePos].src = currentImage;
        

        






    }
</script>



