---
title: Home
layout: homepage
---


    <!-- Slider -->
    <!-- First Section -->
<div class="homewrapper">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <!-- replace && with images -->
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <div class="slideshow-container"> 
            <gallery class="slideshow-gallery">
                 
                {% for index in site.posts reversed limit:5 %}
                {% assign counter = counter | plus:1 %}
                    {% if counter == 1 %}

                        <section class="mySlides main">
                            <img class="slides" src="{{site.baseurl}}{{index.image}}" data-value="10">
                        </section>

                    {% elsif counter == 2 %}

                        <section  class="mySlides">
                            <img class="slides topL"  src="{{site.baseurl}}{{index.image}}" data-value="11">
                        </section > 

                    {% elsif counter == 3 %}

                        <section class="mySlides">
                            <img class="slides topR"  src="{{site.baseurl}}{{index.image}}" data-value="12">
                        </section>

                    {% elsif counter == 4 %}

                        <section class="mySlides">
                            <img class="slides botL"  src="{{site.baseurl}}{{index.image}}" data-value="13">
                        </section>

                    {%- elsif counter == 5 %}

                        <section class="mySlides">
                            <img class="slides botR"  src="{{site.baseurl}}{{index.image}}" data-value="14">
                        </section> 

                    {% endif %}
                {% endfor %}
            </gallery>

            <!-- Dots -->
            <div class= "selectPos">
                {% for index in site.posts limit:i %}
                    {% assign i = i | plus:1 %}
                    <span class="slideSelect" onclick="currentSlide({{i}})"></span> 
                {% endfor %}
            </div>  
        </div>

    <div class="news-container">
        <article>
            <h1>Project - WIZLIZ Web Page</h1>
            <hr>
            
        </article>
    </div>
</div>

<script>
 

    var changeimg = document.getElementsByClassName("mySlides").src = "{{site.baseurl}}/assets/img/wow.png"

    //These will only be run on startup
    var slideIndex =1;
    var lastSlide =1;
    showSlides();

    //Adds or Deducts 1 from slider
    function plusSlides(n) {
        lastSlide = slideIndex;
        showSlides(slideIndex += n);
        //Put prev slide here  
    }
    
    //Places slider at 1-5 (0-4)
    function currentSlide(n) {
        lastSlide = slideIndex;
        showSlides(slideIndex = n);
        //Put prev slide here
    }
    
    //Filters sliders
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("slideSelect");
        // If Slider goes beyond 5 it will reset to first image (1)
        if (n > slides.length) {
            slideIndex = 1
        }    
        // If Slider goes below 1 resets to last image (5)
        if (n < 1) {
            slideIndex = slides.length
        }
        // Puts None display on all slides
        for (i = 0; i < slides.length; i++) { 
            slides[i].style.display = "block";  
        }
        
        //Removes Active from all Dots
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        
        //Puts current slide display as a block
        // slides[lastSlide-1].style.display = "none";
        slides[slideIndex-1].style.display = "block"; 
        console.log("current Index : ", slideIndex-1, " Previous Index: ", lastSlide-1);
        //Puts current dot as active
        dots[slideIndex-1].className += " active";

    }
</script>



