---
title: Home
layout: homepage
---
<div class="homewrapper">
    <div class="slideshow-background">
        <div class="slideshow-wrapper"> 
            {% for index in site.posts limit:5 %}
            {% assign counter = counter | plus:1 %}
                {% if counter == 1 %}
                    <!-- Slideshow start -->
                    <section class="myBigSlide">
                        <div class="slides-prev">
                            <a class="slides-arrow-container" onclick="plusSlides(-1)">
                                <span class="prev-arrow icon-left-arrow"></span>       
                            </a>
                        </div>
                        <div class="slides-next">
                            <a class="slides-arrow-container" onclick="plusSlides(+1)">
                                <span class="next-arrow icon-right-arrow"></span>         
                            </a>
                        </div>
                        {% if index.mobileImage%}
                            <picture>
                                <source class="bigbackup" data-value="{{counter}}" media="(max-width: 800px)" srcset="{{site.baseurl}}{{index.mobileImage}}" alt="Slider Big Image">
                                <img  class="bigSlide" data-value="{{counter}}" src="{{site.baseurl}}{{index.image}}">
                            </picture>
                        {% else %}
                            <img  class="bigSlide" data-value="{{counter}}" src="{{site.baseurl}}{{index.image}}">
                            <source class="smallbackup" src="{{site.baseurl}}{{index.image}}">
                    {%endif%}
                </section>
                <!-- Slideshow End -->
                <!-- Slideshow Gallery Start -->
            <section class="slides-container">
                {% endif %}
                {%if counter > 0%}
                    <div class="mySlides">
                        {% if index.mobileImage%}
                            <picture>
                                <source class="smallbackup" data-value="{{counter}}" media="(max-width: 800px)" srcset="{{site.baseurl}}{{index.mobileImage}}">
                                <img onclick ="currentSlide({{counter}})" class="slides" data-value="{{counter}}" src="{{site.baseurl}}{{index.image}}" alt="Slide Image">
                                <span class="slides-text">{{index.title}}</span>
                            </picture>
                        {%else%}
                            <source class="smallbackup" src="{{site.baseurl}}{{index.image}}">
                            <img onclick ="currentSlide({{counter}})" class="slides" data-value="{{counter}}"  src="{{site.baseurl}}{{index.image}}" alt="Slide Image">
                            <span class="slides-text">{{index.title}}</span>
                        {%endif%}
                    </div> 
                {% endif %}
            {% endfor %}
            </section>
        <!-- Slideshow Gallery end -->
    </div>
</div>

    <!-- Start of news articles -->
    <div class="grid-news">
        <div class="news-container">
            <h1 class="news-header">Project - WIZLIZ Web Page</h1>
            <p class="news-description">Þessi vefslóð heldur utan um leiki og leikja fyrirtæki</p>
            <div class="post-container">
                <div class="post-grid-first">
                {% for news in site.news %}
                {% assign remainder = forloop.index | modulo: 3 %}
                {% if remainder == 1 %}
                    <div class="post-item">
                        <a class="post-title" href="{{site.baseurl}}/{{news.url}}">{{news.title}}</a>
                        <span class="post-excerpt">{{news.excerpt}}</span>
                        <button class="button-readmore"><a href="{{site.baseurl}}/{{news.url}}">Read More!</a></button>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="post-grid-second">
                {% for news in site.news %}
                {% assign remainder = forloop.index | modulo: 3 %}
                {% if remainder == 2 %}
                        <div class="post-item">
                            <a class="post-title" href="{{site.baseurl}}/{{news.url}}">{{news.title}}</a>
                            <span class="post-excerpt">{{news.excerpt}}</span>
                            <a href="{{site.baseurl}}/{{news.url}}"></a>
                            <button class="button-readmore"><a href="{{site.baseurl}}/{{news.url}}">Read More!</a></button>
                        </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="post-grid-third">
                {% for news in site.news %}
                {% assign remainder = forloop.index | modulo: 3 %}
                {% if remainder == 0 %}
                        <div class="post-item">
                            <a class="post-title" href="{{site.baseurl}}/{{news.url}}">{{news.title}}</a>
                            <span class="post-excerpt">{{news.excerpt}}</span>
                            <button class="button-readmore"><a href="{{site.baseurl}}/{{news.url}}">Read More!</a></button>
                        </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="post-aside">
            <a class="auglysing-link" href="https://store.steampowered.com/app/1091500/Cyberpunk_2077/" title="Cyberpunk 2077" target="_blank">
                <div class="auglysing">
                    <div class="auglysing-content">
                        <img id="auglysing-image" src="{{site.baseurl}}/assets/img/cdprojektred.png">
                        <h3 id="auglysing-title">Cyberpunk 2077 Releasing soon!</h3>
                        <p id="auglysing-tease">Want to play an upcoming Rpg from the famous developers known as Cd Projekt Red?</p>
                        <p id="auglysing-click">Click Below to purchase!</p>
                        <button id="auglysing-button">Buy Game</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<!-- End of news articles -->

<script>
    var imageCollection = [];
    var backupCollection = [];
    var basePos = 0;
    var prevSlideIndex = 0
    var slideIndex = 1;
    var nextSlideIndex = 2
    //Gets all src from images
    function getImages() {
        Gallery = document.getElementsByClassName("slides");
        for (x = 0; x < Gallery.length; x++) {
            images = Gallery[x].src;
            imageCollection.push(images);
        } 
    //Gets all srcset from images
    }  
    function getbackup() {
        Gallery = document.getElementsByClassName("smallbackup");
        for (x = 0; x < Gallery.length; x++) {
            images = Gallery[x].srcset;
            backupCollection.push(images);
        } 
    } 
    function plusSlides(n) {
        showSlides(slideIndex += n); 
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    /*=================================
                   Slider
    ===================================*/
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var imageSlides = document.getElementsByClassName("slides");
        var showcase = document.getElementsByClassName("bigSlide");
        var backup = document.getElementsByClassName("smallbackup");
        var bigbackup = document.getElementsByClassName("bigbackup");
        if (n > slides.length) {
            slideIndex = 1
        }    
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            imageSlides[i].className = imageSlides[i].className.replace(" active", "");
            slides[i].className = slides[i].className.replace(" active", "");
            
        }
        imageSlides[slideIndex-1].className += " active";
        slides[slideIndex-1].className += " active";
        for (var i = 0; i < slides.length; i++) {
            // imageSlides[i].src = imageCollection[i] //Find alternative it causes double loading on some images
        }
        var baseImage = imageSlides[basePos].src; 
        var currentImage = imageSlides[slideIndex-1].src; 
        var backupImage = backup[slideIndex-1].srcset;
        if (window.innerWidth > 800) {
            showcase[0].src = currentImage;
        }else {
            //Loop to avoid error incase srcset dosen't load
            for (x = 0; x < backup.length; x++) {
                for (check = 0; check < imageSlides.length; check++){
                    if (imageSlides[check].getAttribute("data-value") == backup[x].getAttribute("data-value")) {
                        if (backup[x].getAttribute("data-value") == backup[slideIndex-1].getAttribute("data-value")){
                            bigbackup[0].srcset = backupImage;
                            showcase[0].src = currentImage;
                        }
                    }
                }
            }
        }
    }   
    getImages();
    getbackup();
    showSlides();
    
</script>



