
<footer id="footwrapper">
    <div class="social-media-container">
        <div class="social-media">
            <a href="">
            </a>
            <a href="">
                <span class="icon-twitter"></span>
            </a>
            <a href="">
                <span class="icon-twitch"></span>
            </a>
            <a href="">
                <span class="icon-github"></span>
            </a>
            <a href="">
                <span class="icon-tumblr2"></span>
            </a>
        </div>
    </div>
    
    <div class="footer-container">
        <div class="flexwrapper"> 
            {% for publisher in site.companies %}
                <div class="company-info">
                    <a class="linksBlock" href="{{site.baseurl}}{{ publisher.url }}" ><span class="links">{{publisher.company}}</span></a>       
                </div>
            {% endfor %}
        </div>
    </div>
</footer>