
<footer id="footwrapper">
    <div class="social-media-container">
        <div class="social-media">
            <a href="https://twitter.com/CDPROJEKTRED" class="social-media-icons" target="_blank">
                <span class="icon-twitter"></span>
            </a>
            <a href="https://www.twitch.tv/cdprojektred" class="social-media-icons" target="_blank">
                <span class="icon-twitch"></span>
            </a>
            <a href="https://github.com/sveinnoli" class="social-media-icons" title="Github.com/Sveinnoli" target="_blank">
                <span class="icon-github"></span>
            </a>
            <a href="https://www.facebook.com/CDPROJEKTRED/" class="social-media-icons" target="_blank">
                <span class="icon-facebook"></span>
            </a>
            <a href="https://www.youtube.com/channel/UCuCtanBJXOPAEIAUXf9944g" class="social-media-icons" target="_blank">
                <span class="icon-youtube"></span>
            </a>
        </div>
    </div>


    <div class="footer-container">
        
        <!-- Reset -->
        {% assign counter = 0 | plus:1 %}
        <main class="flexwrapper"> 
            {% for index in site.posts limit:5%}
            {% assign counter = counter | plus:1 %}
            {%if counter > 3%}
                <div class="company-info-secondary">
                    <a class="linksBlock" href="{{site.baseurl}}{{ index.url }}" ><span class="links">{{index.title}}</span></a>      
                    
                </div>
            {%else%}
                <div class="company-info-main">
                    <a class="linksBlock" href="{{site.baseurl}}{{ index.url }}" ><span  class="links">{{index.title}}</span></a>   
  
                </div>
            {%endif%}
            {% endfor %}
        </main>
        <aside class="contact-info">
                <img class="footer-logo" src="{{site.baseurl}}/assets/img/wizliz-logo.svg">
                <ul class="info">
                    <li>Sveinn Óli</li>
                    <li>7801666</li>
                    <li>Sveinnoli@hotmail.com</li>
                    <li>Tækniskóli</li>
                    <li>VEFÞ2VH05BU</li>
                </ul>
                <small class="copyright">Sveinn Óli &#169; 2019</small>
        </aside>
    </div>
</footer>