
<footer id="footwrapper">
    <div class="social-media-container">
        <div class="social-media">
            <a href="">
                <img src="{{site.baseurl}}/assets/img/g1.png">
            </a>
            <a href="">
                <img src="{{site.baseurl}}/assets/img/g2.png">
            </a>
            <a href="">
                <img src="{{site.baseurl}}/assets/img/g3.png">
            </a>
            <a href="">
                <img src="{{site.baseurl}}/assets/img/g4.png">
            </a>
            <a href="">
                <img src="{{site.baseurl}}/assets/img/g5.png">
            </a>
        </div>
    </div>
    
    <div class="footer-container">
        <div class="flexwrapper"> 
            {% for publisher in site.companies %}
                <div class="company-info">
                    <a class="linksBlock" href="{{site.baseurl}}{{ publisher.url }}" ><span class="links">{{publisher.company}}</span></a>       
                </div>
            {% endfor %}
        </div>
    </div>
</footer>