<header id="headwrapper">
  <div class="head-container">
    <div class="logo-container">
      <a href="{{site.baseurl}}/">
       
        <img class="logo" src="{{site.baseurl}}/assets/img/wizlizmain.svg">
      </a>
    </div>
    <!-- Menu/Hamburger -->
    <nav class="nav-wrapper">
      <!-- Hamburger -->
      <input type="checkbox" class="toggle">
      <div class="mobile-menu">
        <div class="bar"></div>
      </div>
      <!-- Menu -->
      <div class="nav-menu">
        {% for item in site.data.navigation %}
          <!-- <a class="nav-link {% if page.url == item.link %} current {% endif %}" href="{{site.baseurl}}{{ item.link }}" >
              <span class="{{item.icon}}"></span>
              <span class="nav-link-text">{{ item.name }}</span>  
          </a> -->
          <a class="nav-link {% if page.url == item.link %} current {% endif %}" href="{{site.baseurl}}{{ item.link }}" >
              <span class="{{item.icon}}"></span>
              <span class="nav-link-text">{{ item.name }}</span>  
          </a>

          {% endfor %}
        </div>
    </nav>
  </div>
  
</header>