$CDPR-themecolor: #DB0E15;
// Aligning something using relative/absolute calc(50% - 24.3px) 24.3-24.4center
.auglysing {
    @include sRadius();
    margin: 1em;
    padding: 1em;
    box-shadow: inset 1em 1em 3em #161616;
    width: 250px;
}

.auglysing-content {
    position:relative;
    @include flexCenter();
    flex-direction: column;
    
}
.auglysing-image {
    animation-name: ad-image;
    animation-duration: 10s;
    @keyframes ad-image {
        0% {opacity:0.1;}
        100% {opacity:1}
      }
}

.auglysing-highlight {
    @include mainBorder($CDPR-themecolor, border-bottom);
}

.auglysing-tease {
    padding: .8em 0;
    text-align: center;
}

.auglysing-click {
    text-align: center;
}

.auglysing-button {
    // left: calc(50% - 24.3px); //without flexcenter this is centered with no padding
    // box-shadow: inset 0em 0em 1em black;
    position: relative;
    padding: 10px 20px;
    background-color: $CDPR-themecolor;
    box-shadow: inset 0px 0px 0px 0px #9e060666, 0 0px 4px $secondaryColor;
    border:1px solid $mainColor;
    &:hover {
        background: darken($CDPR-themecolor, 5%)
    }
}

