:root {
  --main-font: 'Roboto Condensed', sans-serif; //used for main things on site
  --secondary-font: 'Rambla', sans-serif; // Use for side things Paragraphs, etc

  --header-font: 'Black Han Sans', sans-serif; //Heavy Font
}

//Defaults
* {
  font-family: var(--secondary-font);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
//sticky
html, body {
  height: 100%;
}
.html {
  scroll-behavior: smooth;
}

img {
  display:block;
  width: 100%; 
  height: auto;
}

//Font sizes
$fontLinkSize: 1.25em;
$fontHeadingSize: 1.5em;

//Colors
$mainColor:#b3b3b3;
$secondaryColor: #030303;
$themeColor: #9147FF;
$iconColor: #743a8a;
$headerColor: #030303; //Maybe give headers unqiue colour
$linkColor:rgb(35, 100, 170);
$whiteColor: #fffffe;

//Background for header and footer
$backgroundColor:  #161616;
//Background for games
$backgroundGames: linear-gradient(#32143d, #582c68);

//Hamburger
$backgroundRgba: rgba(25, 25, 25, 0.75);

//Footer
$backgroundGradient: linear-gradient(to top right,rgba( 22, 22, 22, 0.6), 70%, rgba(82, 42, 97, 0.6));

/*=========================
      Icomoon Fonts
=========================== */
@font-face {
  font-family: 'icomoon';
  src:  url('../verkefni2/assets/fonts/icomoon.eot?habzgf');
  src:  url('../fonts/icomoon.eot?habzgf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?habzgf') format('truetype'),
    url('../fonts/icomoon.woff?habzgf') format('woff'),
    url('../fonts/icomoon.svg?habzgf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  color:black;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-right-arrow:before {
  content: "\e900";
  font-size: 20px;
  color:deepskyblue;
}
.icon-left-arrow:before {
  content: "\e901";
  font-size: 20px;
  color:deepskyblue;
}
.icon-aard:before {
  content: "\e904";
}
.icon-axii:before {
  content: "\e905";
}
.icon-igni:before {
  content: "\e906";
}
.icon-quen:before {
  content: "\e907";
}
.icon-yrden:before {
  content: "\e908";
}
.icon-aard, .icon-axii, .icon-igni, .icon-quen, .icon-yrden {
  position: relative;
  right: 10px;
  color:$iconColor;
}
.icon-twitch:before {
  content: "\ea9f";
  position: relative;
  left: 1px;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}

//Border Defaults
@mixin mainBorder($color:$whiteColor, $border1:border,  $border2:none) {
  #{$border1}:2px solid;
  #{$border2}:2px solid;
  border-color: #{$color};
}

@mixin sRadius($radius:10px) {
  border-radius: #{$radius};
}

@mixin transLink {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@mixin fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
}

@mixin flexCenter {
  display:flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin boxShadow {
  box-shadow: 0 0 7px 1px black;
}

@mixin backgroundRgba($opacity:0.75) {
  background: rgba(25, 25, 25, $opacity);
}

/*==============================
      FontSizing/Colors
================================*/
//Base
body {
  display:flex;
  flex-direction: column;
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 1.5;
  //Add background img to Games/Companies/About and make it transparent
  background-image: url("/wizliz/assets/img/mainBackground.png");
  background-color: whitesmoke;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: fill; 
}
h1,  h3, h4 {
  font-family: var(--main-font);
  color:$headerColor;
  line-height: 1.5;
}
//H2 used exclusively for blog titles
h2 {
  color:$whiteColor;
}
//Header and Links
a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: lighten($linkColor, 10%);
  }
}
p {
  font-weight: 600;
}
ul li {
  list-style: none;
  line-height: 2;
  color:$whiteColor;
  font-size: 12px;
}

//List Items for Publishers
li a {
  font-size: $fontHeadingSize;
  font-weight: bold;
  margin: 10px;
  &:hover {
    @include mainBorder($whiteColor, border-bottom);
  }
}

//Styles Links

.links {
  @include flexCenter();
  font-size: $fontHeadingSize;
}
.linksBlock {
  display:flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.heading-title {
  font-family:  var(--header-font);
  color: $headerColor;
  font-weight: 100;
  font-size: 3em;
  text-transform: uppercase;
  position: relative;
  right: 1em;
}
/*==========================
  {{ content }} Container 
============================*/

.mainwrapper {
  width: 70em;
  margin: 5em auto 0 auto;
  flex: 1 0 auto;
}

.main-container {
  width: auto;
  padding: 10px;
}

@media screen and(max-width: 80em) {
  .heading-title {
    position:initial;
    text-align:center;
  }
  .mainwrapper {
    width: 100%;
  }
}

@media screen and(max-width: 65em) {
  
}

@media screen and(max-width: 45em) {
 .heading-title {
   font-size: 2em;
 } 
 
}