
//Cleanup for Mixins and vars
// Base for Website
:root {
  --main-font: 'Roboto Condensed', sans-serif;
  --secondary-font: 'Rambla', sans-serif;
  --third-font: 'Yanone Kaffeesatz', sans-serif;
  --alt-font: 'Kosugi', sans-serif;
  --header-font: 'Black Han Sans', sans-serif;
}

//Defaults
* {
  font-family: var(--secondary-font);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html , body {
  height: 100%;
}
.html {
  scroll-behavior: smooth;
}

img {
  width: auto;
  height: auto;
}

//End of Sticky Footer

// .current {
//   color: green;
// }

//SCSS Variables

//Font sizes
$paraSize: 0.8em;

$fontSize: 1em;

$fontLinkSize: 1.25em;

$fontHeadingSize: 1.5em;

//Colors


// $mainColor: #b3b3b3;
$mainColor:#b3b3b3;
$secondaryColor: #030303;
$headerColor: #040404;
$paraColor: #6699ff;
$linkColor:rgb(35, 100, 170);
//find unique HeaderTitle and fix h/p tags on site
$whiteColor: white;

$backgroundColor:  #161616; //Background for header and footer
$backgroundMain: linear-gradient(#32143d, #582c68);
//Hamburger
$backgroundRgba: rgba(25, 25, 25, 0.85);
//Footer
$backgroundGradient: linear-gradient(rgb(50, 96, 228), black);



//Mixin

//Border Defaults
//TO USE -- @include mainBorder(blue, border-top);
@mixin mainBorder($color:$whiteColor, $border1:border,  $border2:none) {
  #{$border1}:2px solid;
  #{$border2}:2px solid;
  border-color: #{$color};
}

//Mixin with Arguments

//Border Defaults
@mixin sRadius($radius:10px) {
  border-radius: #{$radius};
}

@mixin transLink {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@mixin borderBackground {
  background-image: $backgroundGradient;
  @include sRadius;
}

//:Hover Psuedo on Elements
//Add argument for color
//Use on containers

//Fix both hovereffects to be consistent across all elements
@mixin mainHoverEffect() {
  //Avoid calling other mixins for transition
  background-image: linear-gradient(rgb(45, 121, 200), black);
  border: 2px solid;
  color: lighten( $mainColor, 10%);
  h1, h2, h3, h4{
    color: lighten($mainColor, 10%)
  }
}

//Use on inline content
//Add argument for color
@mixin secondaryHoverEffect {
  color:darken($mainColor, 10%);
  border: 2px solid;
  h1, h3, h4 {
    color: lighten($mainColor, 10%);
  }
}


@mixin flexCenter {
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin boxShadow {
  box-shadow: 0 0 7px 1px black;
}

/*==============================
      FontSizing/Colors
================================*/

//Base

body {
  display:flex;
  flex-direction: column;
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 1.5;
  //Add background img to Games/Companies/About and make it transparent
  background-image: url("/verkefni2/assets/img/mainBackground.png"); /* The image used */
  background-color: whitesmoke;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

h1,  h3, h4 {
  font-family: var(--main-font);
  color:$headerColor;
  line-height: 1.5;
}
h2 {
  color:white;
}
//H2 used exclusively for blog titles

//Header and Links
a {
  color: $linkColor;
  text-decoration: none;
  //use main link color for changing hover on links
  &:hover {
    color: darken($linkColor, 5%);
  }
}
//Content
p {
  color:$paraColor;
  font-weight: 600;
}
//Clear list Styles
ul li {
  list-style: none;
}

//List Items for Publishers
li a {
  font-size: $fontHeadingSize;
  font-weight: bold;
  margin: 10px;
  &:hover {
    @include mainBorder($whiteColor, border-bottom);
  }
}

//Styles Links

.nav-link {
  color:$mainColor;
}

.links {
  @include flexCenter();
  font-size: $fontHeadingSize;
}
//Use this instead of links to take up entire parent div
.linksAll {
  display:flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.heading-title {
  font-family:  var(--header-font);
  color: $headerColor;
  font-weight: 100;
  font-size: 3em;
  text-transform: uppercase;
  position: relative;
  right: 1em;
}

//Header-Nav part

#headwrapper {
  background-color: $backgroundColor;
}
.nav-link-text {
  font-size: $fontLinkSize;
}
.nav-link { 
  &:hover {
    background:white;
  }
}

//Footer
.footwrapper {
  background: $backgroundColor;
}

.company-info {
  background: $backgroundGradient;
}


/*==========================
  {{ content }} Container 
============================*/

//Make new folder for base body
.mainwrapper {
  width: 70em;
  margin: 5em auto 0 auto;
  flex: 1 0 auto;
}

.main-container {
  width: auto;
  padding: 10px;
}

@media screen and(max-width: 80em) {
  .heading-title {
    position:initial;
    text-align:center;
  }
}

//SEPERATE FOLDER FOR BODY
@media screen and(max-width: 65em) {
  .mainwrapper {
    width: auto;
  }

  .nav-link {
    background: $backgroundRgba;
    font-size: $fontLinkSize;
    font-weight: 400;
  }

  //Styles MobileMenu Lines
  .bar {
    background:white;
  }

  .bar:after,
  .bar:before {
    background:white;
  }

  //Hovering over MobileMenu
  .toggle:hover + .mobile-menu {
    background: rgba(255, 255, 255, 0.1);
  }
}
@media screen and(max-width: 45em) {
 .heading-title {
   font-size: 2em;
 } 
}