.footwrapper {
    border: 1px solid;
    flex-shrink: 0;
    color:white;
    box-shadow: 0 1px 2px 3px black;
    background: #151514;
}

.footer-container {
    width: 90em;
    height: auto;
    margin: 0 auto;
}

.company-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.company-info {
    background: radial-gradient(244px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(244px at top left,#0d92c3,rgba(0,0,0,0)),radial-gradient(333px at bottom left,#8a43bd,rgba(0,0,0,0)),radial-gradient(244px at bottom right,#1d8d42,rgba(0,0,0,0));
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 31%;
    border: 1px solid;
    border-radius : 10px;
    height: 10em;
    margin: 10px;
}
