// Fix sticky Footer
//Redo Footer
.footwrapper {
    border: 1px solid;
    box-shadow: 0 1px 2px 3px black;
    background: $backgroundColor;
}

.footer-container {
    max-width: 80em;
    height: auto;
    margin: 0 auto;
}

.company-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.company-info {
    background: radial-gradient(244px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(244px at top left,#0d92c3,rgba(0,0,0,0)),radial-gradient(400px at bottom left,#8a43bd,rgba(0,0,0,0)),radial-gradient(400px at bottom right,#1d8d42,rgba(0,0,0,0));
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 31%;
    border: 1px solid;
    @include sRadius;
    height: 5em;
    margin: 10px;
    a {
        
    }
}


@media screen and (max-width: 65em) {
    .footer-container {
        width: auto;
    }
    .company-container {
        width: auto;
    }
    .company-info {
        width: auto;
        
    }
}