//Styling for post based pages --header/image/title
//Add Color to Mixin


aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

.game-container {
    display:Grid;
    grid-template-areas: "aside main";
    grid-template-columns: 1fr 5fr;
    margin: 0 0 2em 0;
    min-height: 8em;
    @include mainBorder($secondaryColor);
    @include sRadius();
    &:hover {
        opacity: .99;//temp
    }
}

.aside-grid {
    background:$backgroundColor;
    @include flexCenter;
}
.games-logo {
    display:flex;
    align-self: center;
}
.games-icon {
    width: 90px;
    height: 90px;
    align-self: center;
}

.main-grid {
    background:$backgroundMain;
    padding: 10px;
}

