//Styling for post based pages --header/image/title

//Add Color to Mixin
.game-container {
    &:hover {
        @include mainHoverEffect;
    }
    @include transLink;
    @include borderBackground;
    @include allBorder;
    @include flexCenter;
    flex-direction: column;
    margin: 10px 0;
    padding: 5px 10px 10px 10px;
    
}


