$headerHeight: 4.25em;
.toggle {
    display:none;
  }
  //Change it to be like cd projekt Reds header
  @media screen and (max-width: 100em) {
      .head-container {
          width: auto;
      }
      .logo-container {
          width: auto;
      }
  }
  
  /*  ====================
       Media Query 1040PX
      ==================== */
  
@media screen and (max-width: 65em) {
    
    //Start of Header containers
    #headwrapper {
        height: $headerHeight;
    }
    
    .head-container {
        width: 100%;
        height: $headerHeight;
    }
    
    .logo-container {
        height: $headerHeight;
    }
    
    .nav-wrapper {
        width: 0;
    }
    // End of Header Containers
      
//Aligns Nav Hamburger
    .nav-menu {
        position:fixed;
        top: $headerHeight;
        right: 0;
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        z-index: 1;
        background: $backgroundRgba;
        justify-content: flex-start;
        flex-direction: column;
        background: $backgroundRgba;
    }

    .nav-link {
        @include flexCenter;
        @include mainBorder($whiteColor,border-bottom);
        width: 100%;
        height: 10%;
        background: $backgroundRgba;
        font-size: $fontLinkSize;
    }
    ///CHECK
    .nav-link:first-child {
        @include mainBorder($whiteColor,border-top)
      }
    .nav-link-text {
        position:relative;
        
        font-weight: 500;
    }
    .nav-link-icon {
        top: 1px;
    }
    // End of alignment
    /*======================================
        Start of Mobile Menu and animations
    ======================================*/
    .nav-wrapper .toggle {
        display:initial;
        width: 4.6rem;
        height: 4rem;
        position: absolute;
        top:0.25em;
        right:1em;
        opacity:0;
        cursor: pointer;
        z-index: 999;
        
    }
    .nav-wrapper .mobile-menu {
        width: 4.2rem;
        height: 4rem;
        position: absolute;
        top:0.1em;
        right:0.9em;
        z-index: 998;
        display:flex;
        padding: 10px;
        @include flexCenter;
        @include transLink;
    }
    .nav-wrapper .mobile-menu .bar {
        position: relative;
        width: 1000px;
        height: 5px;
        z-index: 5;
        @include transLink;
        background:white;
    }
    .nav-wrapper .mobile-menu .bar::after,
    .nav-wrapper .mobile-menu .bar::before {
        content: '';
        position: absolute;
        top: -12px;
        height: 5px;
        width: 100%;
        background:white;
        @include transLink;
    }
    .nav-wrapper .mobile-menu .bar:after {
        top: 12px;
    }
    // Transition Animation for Mobile-Navbar
    .nav-wrapper .toggle:hover + .mobile-menu {
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
    }
    .nav-wrapper .toggle:checked + .mobile-menu {
        transform: rotate(45deg);
    }

    .nav-wrapper .toggle.checked:hover + .mobile-menu {
        transform: rotate(135deg)
    }
    .nav-wrapper .toggle:checked + .mobile-menu .bar::before,
    .nav-wrapper .toggle:checked + .mobile-menu .bar::after {
        top: 0;
        transform: rotate(90deg);
    }
    // Toggle for Nav-menu
    .toggle:checked + .mobile-menu + .nav-menu {
        opacity: 1;
        width: 100%;
        height: 100vh;
        @include transLink;
    }

    /*======================================
    ENd of Mobile Menu and animations
======================================*/
}

/* ================
Media Query 720PX
====================*/
@media screen and (max-width: 45em) {
    /*============================================
        Start of Adjusting Height of mobile Hamburger
    ==============================================*/
        #headwrapper {
        height: 3.8em;
    }
    .head-container {
        height: 3.8em;
    }
    .logo-container {
        height: 3.8em;
        justify-content: flex-start;
    }
    .nav-menu {
        top: 3.8rem;
    }

    .nav-wrapper .toggle {
        width: 4.2rem;
        height: 3.6rem;
        top:0em;
        right:0.8em;
        
    }
    .nav-wrapper .mobile-menu {
        
        width: 3.8rem;
        height: 3.6rem;
        top:0.15em;
        right:0.8em;
    }

    .nav-wrapper .mobile-menu .bar {
        height: 4px;
    }
    .nav-wrapper .mobile-menu .bar::after,
    .nav-wrapper .mobile-menu .bar::before {
        content: '';
        top: -10px;
        height: 4px;
    }
    .nav-wrapper .mobile-menu .bar:after {
        top: 10px;
    }
        /* ====================
            End of Adjustment
        =====================*/
}