    .homewrapper {
    margin-top: 3.95em;
    flex: 1 0 auto; 
    overflow:hidden; //Figure why overflow starts from 1410px to 1425px roughly 88em to 89em
 }


/*========================
     Slideshow Gallery
==========================*/
.slideshow-background {
    // background: rgba(0,0,0,.25)
}

.slideshow-wrapper {
    @include flexCenter();
    flex-direction: column;
    margin: 0 auto;
    max-width: 63.5em;
    height:auto;
    margin: 1em auto 0 auto;
    @include mainBorder($secondaryColor,border)
}
/* ==========================
        Showcase Image
=============================*/
.myBigSlide {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
 }
 
.bigSlide {
    position:  absolute;
    top: 0;
    left: 0;
    height: 100%;
    // Avoids blue highlighting from chrome
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
/* ==========================
    Small Images in Slider
=============================*/
.slides-container {
    display:flex;
    flex-direction: row;
    max-height: 12;
    border-top: 1px solid;
}

// Fix -- Some pictures readjust the size of the smaller slides causing it to shift up or down based on the size of the image
.mySlides {
    position: relative;
    width:20%;
    height: auto;
    object-fit: cover;
    overflow:hidden;
    &:hover {
        
    }
}

.slides {
    overflow:Hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;  
      
    &:hover {
        transform:scale(1.1);
	
    }
}

.slides-text {
    display:none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    pointer-events: none;
    &:hover {
        display:initial;
    }
    
}
.active{ 
    @include mainBorder($themeColor);
    z-index: 2;
    // transform: scale(1.1);
    filter:brightness(105%);
    transition: all 0.5s ease;
    animation: flash 1s;
   
}
.slides:hover + .slides-text{
    display:initial;
}
.active + .slides-text {
    display:initial;
}

// KF
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
} 


/*==================
    Arrows
===================*/

.slides-prev, .slides-next{
    position: absolute;
    display:flex;
    z-index: 5;
    top:0;
    width: 15%;
    height: 100%;
}

.slides-arrow-container {
    @include flexCenter;
    @include backgroundRgba(0.55);
    position: relative;
    font-size: 24px;
    height: 100%;
    width:45%;
    transition: all 1s ease;
    cursor: pointer;
    &:hover {
        @include backgroundRgba(1);
        width:55%;
    }
}

.slides-prev {
    left: 0%;   
}
.slides-next {
    display:flex;
    justify-content: flex-end;
    right: 0;
}

.prev-arrow, .next-arrow {
    @include flexCenter;
    width:100%;
    height:100%;
    transition: background-color .8s linear, padding-right .2s linear, padding-left .2s linear;
    &:active {
        background-color:$whiteColor;
    }
}

.prev-arrow {
    &:active{
        padding-right: 15%;
    }
}

.next-arrow {
 &:active {
     padding-left: 15%; 
 }
}
/*========================
    Post-Advert grid
==========================*/
.post-grid-first {
    grid-area: post-first;
}

.post-grid-second {
    grid-area: post-second;
}

.post-grid-third {
    grid-area: post-third;
}

.post-container {
  grid-area: post;
}

.post-aside {
    grid-area: post-aside;
    padding: 7.5em 0 4em 0;
}

.grid-news {
    display:grid;
    grid-template-areas: 
    "post post-aside";
    grid-template-columns:4fr 1fr;
    width: 90em;
    margin: 0 auto;
}

/*========================
    News Section
==========================*/

.news-container {
    width:auto;
    margin: 0 auto;
    padding: 3em 0;
}

.news-header {
    font-family: var(--header-font);
    padding-left: 0.75em;
}

.news-description {
    padding-left: 1.5em;
}

/*============================
    Items from news posts
==============================*/

.post-container {
    display:grid;
    grid-template-areas: 
    "post-first post-second post-third";
    grid-template-columns: 1fr 1fr 1fr;

}

.post-item {
    background: $newsBackground;
    margin: 1em;
    min-height: 10em;
    width:auto;
    position: relative;
}

.post-title {
    @include flexCenter();
    @include mainBorder(border-bottom);
    height: auto;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    font-family:  var(--header-font);
    padding: 4px;
    color: lighten($linkColor, 5%);
}

.post-excerpt {
    display:flex;
    justify-content: center;
    color: $whiteColor;
    font-size: 8px;
    padding: 4px 4px 36px 4px;
} 

.button-readmore {
    position: absolute;
    left: calc(50% - 58px);
    bottom: 0;
    outline:none;
    cursor:pointer;
    background: deepskyblue;
    border:none;
    padding: 10px 25px;
    height: 36px;
    transition: all 0.3s linear;
    font-weight: 600;
    &:hover {
        background: darken(deepskyblue, 20%);
    }
}

.button-readmore a {
    color:$secondaryColor;
}


/*===========================================================================================
    Redo slider and remove all padding top only use 1 to maintain aspect ratio fo slider
=============================================================================================*/
//2k Resolution 2540x1440
@media screen and(min-width: 2000px) {
    .slideshow-wrapper {
        margin: 3em auto 0 auto;
        max-width: 80em;
        @include mainBorder($secondaryColor,border)
    }
    .slides-container {
        max-height:270px;
    }
}
//HD Resolution 1920x1080
@media screen and (max-width: 100em) {
    
}

//Laptops
@media screen and (max-width: 90em) {
    .grid-news {
        width: auto;
    }
    
}
//Tablets 1040PX
@media screen and(max-width: 65em) {
    .homewrapper {
        margin-top: 4.2em;
    }
    .slides-arrow-container {
        width: 50%;
        &:hover {
            width: 60%;
        }
    }
    
    .news-header, .news-description {
        text-align: center;
        padding-left: 0;
    }
    .post-container{
        display: block;
    }
    .post-grid-first, .post-grid-second, .post-grid-third {
        display:flex;
        flex-wrap: wrap;
    }
    .post-item {
        display:flex;
        flex-direction: column;
        flex: 42%;
        min-height: 8em;
    }
    .news-container {
        margin: 0 0;
    }
    
}

@media screen and(max-width: 57.5em) { 
    
    .post-item {
        flex: 50%;
    }
}

 @media screen and(max-width: 50em) {
    .active {
        border: 1px solid $themeColor;
    }
 }

@media screen and(max-width: 45em) {
    
    .homewrapper {
        margin-top: 3.8em;
    }
    .slides-arrow-container {
        width: 65%;
        &:hover {
            width: 75%;
        }
    }
    .slides:hover + .slides-text{
        display:none;
    }
    .active + .slides-text {
        display:none;
    }
    
    
    .grid-news {
        display:block;
    }

    .post-aside {
        padding:0;
    }
    .news-container {
        padding: 0 0;
    }
    
}

//Mobile / adspace
@media screen and(max-width: 37.5em) { 
    .slides-arrow-container {
        width: 75%;
        &:hover {
            width: 85%;
        }
    }
    .post-item {
        flex: 100%;
    }
    
    
}
@media screen and(max-width: 30em) {
    .slides-container {
        height:50px;
    }
    .mySlides {
        height: 100%;
    }
    
}


