$pictureGalleryHeight: 90vh;
.homewrapper {
    margin-top: 4em;
    flex: 1 0 auto; 
    overflow:hidden; //Figure why overflow starts from 1410px to 1425px roughly 88em to 89em
 }
/*========================
     Slideshow Gallery
==========================*/
.slideshow-gallery {
    max-width: 100%;
    height:auto;
}
.slideshow-wrapper {
    max-width: 100%;
    height:auto;
}
/* ==========================
        Showcase Image
=============================*/
.myBigSlide {
    position: relative;
    width: 100%;
    padding-top: 38.25%; 
 }
 
.bigSlide {
    @include fade();
    position:  absolute;
    top: 0;
    left: 0;
    height: 100%;
 }
/* ==========================
    Small Images in Slider
=============================*/
.slides-container {
    display:flex;
    flex-direction: row;
    max-height: 178px;
}

.mySlides {
    // position: relative;
    width:20%;
    height: auto;
    right:0;
    object-fit: cover;
}

.slides {
    height: 100%;
    width: 100%;
    background-image:black;
    object-fit: cover;
    @include fade();
    @include mainBorder($secondaryColor);
    &:hover {
        opacity:.75;
    }
}

.active, .slides:hover {
    background-color: $backgroundRgba;
    @include mainBorder($whiteColor);
}

//Arrows
.prev, .next {
    position: absolute;
    width: auto;
    margin: 0 auto;
    padding: 25px;
    font-weight: bold;
    color:$whiteColor;
    background-color: $backgroundRgba;
    font-size: 24px;
    top: 40%;
    z-index: 4;
    cursor: pointer;
    @include sRadius();
}
.next {
    right: 0%;
}
.left {
    left: 0%;
}
.prev:hover, .next:hover {
    background-color:$whiteColor;
  }

.testing {
    display:flex;
    justify-content: center;
    align-content:center;
    position: absolute;
    z-index:10000;
    padding:50px 50px 50px 0;
    top:0;
    left: 0;
    display:flex;
    width: 10%;
    height: 100%;
    ;
}

.secondary-testing {
    position: relative;
    @include sRadius();
    @include flexCenter;
    font-size: 24px;
    background-color:$backgroundRgba;
    padding:25px;
    display:flex;
}

/*==================
    News Section
====================*/
.news-container {
    width: 80em;
    margin: 0 auto;
    padding: 3em 0 4em 0;
}

.news-header {
    font-family: var(--header-font)
}

//2k Resolution 2540x1440
@media screen and(min-width: 2000px) {
    .myBigSlide {
        padding-top: 39.15%
    }
    .slides-container {
        max-height:270px;
    }
}
//HD Resolution 1920x1080
@media screen and (max-width: 100em) {
    .myBigSlide {
        padding-top: 32.01%
    }
}

//Laptops
@media screen and (max-width: 80em) {
    .news-container {
        width: 100%;
    } 
}
//Tablets 1040PX
@media screen and(max-width: 65em) {
    .myBigSlide {
        padding-top: 55.6%;
    }
    .prev, .next {
        padding: 25px;
    }
    .news-container {
        width: auto;
    }
}

@media screen and(max-width: 57.5em) { 
    .prev, .next {
        padding: 16px;
    }
}

@media screen and(max-width: 45em) {
    .prev, .next {
        padding: 14px;
    }
    .homewrapper {
        margin-top: 3.8em;
    }
}

//Mobile
@media screen and(max-width: 37.5em) { 
    .prev, .next {
        padding: 12px;
    }  
}

@media screen and(max-width: 30em) {
    .myBigSlide {
        padding-top: 62%;
    }
    .slides-container {
        height: 57px;
    }
    //Img Container
    .mySlides {
        height: 100%;
    }
}