//Grid area
$pictureGalleryHeight: 90vh;

.homewrapper {
    margin-top: 4em;
    flex: 1 0 auto; //Keeps sticky footer sticky
    
}

/*========================
        Slideshow Gallery
==========================*/

.slideshow-gallery {
    max-width: 100%;
    height:auto;
}

.slideshow-container {
    max-width: 100%;
    height:auto;
}

/* ==========================
    Showcase Image
=============================*/
.myBigSlide {
    position: relative;
    width: 100%;
    padding-top: 38.25%; 
 }


.bigSlide {
    @include fade();
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    // height: 91.9vh; This is complete height of both big picture and small picture
 }

/* ==========================
    Small Images in Slider
=============================*/
//Parent of Img containers
.slides-container {
    display:flex;
    flex-direction: row;
    max-height: 178px;
}

//Img Container
.mySlides {
    position: relative;
    width:20%;
    height: auto;
    right:0;
    object-fit: cover;
}

//Images
.slides {
    height: 100%;
    width: 100%;
    background-image:black;
    object-fit: cover;
    @include fade();
    @include mainBorder($secondaryColor);
}

//Arrows
.prev, .next {
    position: absolute;
    width: auto;
    margin: 0 auto;
    padding: 25px;
    font-weight: bold;
    color:$whiteColor;
    background-color: $backgroundRgba;
    font-size: $fontHeadingSize;
    top: 40%;
    z-index: 4;
    cursor: pointer;
    @include transLink();
    @include sRadius();
}
  
.next {
    right: 0%;
}

.left {
    left: 0%;
}

.prev:hover, .next:hover {
    background-color:$whiteColor;
  }

.active, .slides:hover {
    background-color: $backgroundRgba;
    @include mainBorder($whiteColor);

}

.news-container {
    width: 80em;
    margin: 0 auto;
    padding: 3em 0 4em 0;
}

//2k Resolution 2540x1440
@media screen and(min-width: 2000px) {
    .myBigSlide {
        padding-top: 39.15%
    }
    .slides-container {
        max-height:270px;
    }
}
//HD Resolution 1920x1080
@media screen and (max-width: 100em) {
    .myBigSlide {
        padding-top: 32.01%
    }
}
//Tablets 1040PX
@media screen and(max-width: 65em) {
    .myBigSlide {
        padding-top: 55.6%;
    }
    .prev, .next {
        padding: 25px;
    }
    .news-container {
        width: auto;
    }
}

@media screen and(max-width: 57.5em) { 
    .prev, .next {
        padding: 16px;
    }
}

@media screen and(max-width: 45em) {
    .prev, .next {
        padding: 14px;
    }
}

//Mobile
@media screen and(max-width: 37.5em) { 
    .prev, .next {
        padding: 12px;
    }  
}

@media screen and(max-width: 30em) {
    .myBigSlide {
        padding-top: 62%;
    }
    .slides-container {
        height: 57px;
    }
    //Img Container
    .mySlides {
        height: 100%;
    }
}