
//Header Navigation
.current {
  @include mainBorder($themeColor, border-bottom);
}

// Start of Header
#headwrapper {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  @include boxShadow;
  height:4em;
  z-index: 1000;
  background-color: $backgroundColor;
}

.head-container {
  display:flex;
  margin: 0 auto;
  width: 100em; 
}


.logo {
  width:134px;
  height:45px;
}
.logo-container {
  @include flexCenter;
  width: 52%
}

 /*========================
   Start of Nav Menu
  =========================*/
.nav-wrapper {
  width:100%;
}

.nav-menu {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  @include transLink;
}

.nav-link {
  padding: 0 1.2em;
  align-self: center;
  height: 4em;
  text-transform: uppercase; 
  display:flex;
  align-items: center;
  color:$mainColor;
  &:active {
    transform: translateY(-1px);
  }
  &:hover {
    background:white;
    color: darken($mainColor, 10%);
    @include mainBorder();
  }
}


.nav-link-text {
  position:relative;
  right: 10px;
  top:1.5px;
  font-size: $fontLinkSize;
}
 /*======================================
   End of nav Menu
  ======================================*/
