
//Header Navigation


// Start of Header
#headwrapper {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  @include boxShadow;
  height:auto;
  //z-index to avoid clipping with nav
  z-index: 1000;
  background-color: $backgroundColor;
}

//Adjust Header nav location
.head-container {
  display:flex;
  margin: 0 auto;
  width: 65em; 
}

.logo {
  @include flexCenter;
}

.logo-container {
  @include flexCenter;
}

 /*========================
   Start of Nav Menu
  =========================*/
.nav-wrapper {
  width:100%;
}

.nav-menu {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link {
  padding: 0 1.2em;
  align-self: center;
  height: 4em;
  text-transform: uppercase; 
  display:flex;
  align-items: center;
  color:$mainColor;
  &:active {
    transform: translateY(-1px);
  }
  &:hover {
    background:white;
    color: darken($mainColor, 10%);
    @include mainBorder();
  }
}

.nav-link-icon {
  position:relative;  
  right: 12px;
  width: 61px;
  height: 60px;
}
.nav-link-text {
  position:relative;
  right: 15px;
  top: 2px;
  font-size: $fontLinkSize;
}
 /*======================================
   End of nav Menu
  ======================================*/
