.signin-container {

}

.table-container {
    @include flexCenter();
}

table {
    border: 2px solid #161616;
    text-align: center;
    table-layout: fixed;
}

thead {
}

th {
    padding: .65em;
}

tbody {
    
}

tr {
    background: #fff;
    padding: .35em;
}

td {

}