<!doctype html> 
<html>
  <head>
    
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{'/assets/css/styles.css' | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <!-- Decide if default container for body is : wrapper : grid : !width % with preset layout -->
    <div class="container"> 
      {{ content }}
  </div>
  </body>
</html>